<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/homepage_styles.css"
    />
    <title>Document</title>
  </head>
  <body>
    <!-- Main -->
    <div class="grid-container">
      <div class="grid-left">
        <div class="text">
          <h1>The freedom to create your own website</h1>
        </div>
        <div id="">
          <p
            style="
              font-size: 18px;
              font-weight: 100;
              text-align: justify;
              line-height: 30px;
            "
          >
            Design and build your own high-quality websites. Whether you're
            promoting your small business, opening your store - you can do it
            all with the Yedy website builder.
          </p>
        </div>

        <form action="/app/views/forms/main-form.html">
          <button type="submit" value="Get Started">Get Started</button>
        </form>
      </div>

      <div class="grid-right">
        <img src="assets/img/Designer.jpg" />
      </div>
    </div>
  </body>
</html>
