

<!-- Main -->
<div class="grid-container">
    <div class="grid-left">
      <div class="text">
        <h1>The freedom to create your own website</h1>
      </div>
      <div id="">
        <p
          style="
            font-size: 18px;
            font-weight: 100;
            text-align: justify;
            line-height: 30px;
          "
        >
          Design and build your own high-quality websites. Whether you're
          promoting your small business, opening your store - you can do it
          all with the Yedy website builder.
        </p>
      </div>
      <div class="btn">
        <form action="/app/views/forms/main-form.html">
          <input type="submit" value="Get Started" />
        </form>
      </div>
    </div>

    <div class="grid-right">
      <img src="assets/img/Designer.jpg" />
    </div>
  </div>

