body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* GRID */
.grid-container {
  display: grid;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 50px;
  height: 700px;
}

.grid-left {
  grid-column-start: 3;
  grid-row: 2;
  margin-top: 60px;
  margin-left: 60px;
}

.grid-right {
  grid-column-start: 4;
  grid-row: 2;
  margin-top: 60px;
}

.grid-right img {
  width: auto;
  height: 340px;
  border-radius: 30px;
  margin-top: 30px;
  
}

/* TEXT */
.text {
  width: 480px;
  line-height: 60px;
  text-align: justify;
  color: #000000;
  font-size: 180%;
}

/* BUTTON */
button:hover {
  background-color: #160d89;
}

button {
  margin-left: 160px;

  width: 150px;
  height: 50px;
  
  background: #7D97F4;
  color: white;
  border: none;
  border-radius: 30px;
  
  font-weight: 600;
  font-size: 18px;
  text-align: center;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
