/* Add a black background color to the top navigation */
.topnav {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  padding-top: 20px;

  background: #ffffff;
  background: -webkit-linear-gradient(0deg, #ffffff 0%, #e6edfc 100%);
  background: linear-gradient(0deg, #ffffff 0%, #e6edfc 100%);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;

  font-weight: 300;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;

  padding: 27px;
}

/* Change the color of links on hover */
.topnav a.middle:hover,
a.right:hover {
  color: #7d97f4;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav img {
  float: left;

  padding: 18px 5px;
  margin-left: 110px;

  height: 32px;
}

.topnav a.logo {
  font-weight: 700;
  font-size: 40px;
  text-decoration: none;

  padding: 5px 60px 0 10px;
}

#login{
  float:right;
  font-weight: 500;
  margin-right: 80px;
}

#logout{
  float:right;
}

#form-logo {
  margin-left: 152px;
  padding-top: 6px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 845px) {
  .topnav a.middle {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    color: black;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 845px) {
  .topnav.responsive a.logo {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
    color: black;
    padding: 27px;
    padding-top: 47px;
  }
  .topnav.responsive a.middle {
    position: static;
    float: none;
    text-align: right;
    display: flow-root;
    font-weight: 500;
    padding-top: 10px;
    margin-right: 60px;
  }

  #login #logout{
    margin: 0;
    margin-right: 60px;
  }
}
