body{
  margin: 0;

}

/* GRID */
.grid-container {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 100px;
  height: 700px;

}

.grid-left {
  grid-column-start: 3;
  grid-row-start: 1;
  margin-top: 70px;
  margin-left: 40px;

}

.vl{ /* VERTICAL LINE */
  border-left: 1px #C9C8C9 solid;
  height: 600px;
  grid-column-start: 4;
  grid-row: span 1;

  margin-top: 30px;
}

.grid-right {
  grid-column-start: 5;
  grid-row-start: 1;
  margin-top: 30px;
}

.grid-left img{
  width: 450px;
  height: 500px;
}


/* FORMS */

form {
  width: 400px;
  border-radius: 10px;
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
form * {
  font-family: "Poppins", sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;

}
form h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 60px;
  text-align: center; 
  margin-right: 20px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 300;
  box-shadow: 0 0 10px rgba(199, 198, 207, 0.6); 
}
::placeholder {
  color: black;
  text-align: left;
  /* padding-left: 60px; */
}


/* BUTTON */

#register.btn {
  width: 150px;
  height: 50px;
  
  background: #7D97F4;
  color: white;
  border: none;
  border-radius: 30px;
  
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-left: 120px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#register.btn:hover{
  background-color: #1A0F91;
}



/* ICONS */

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
}

.icon {
  padding: 10px;
  color: #1A0F91;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 300px;
  padding: 5px;
  padding-left: 60px;
  border-radius: 20px;
}



/* POPUPS */

.alert {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 330px;
  margin-left: 5px;

}


.alert-success {
  background-color: #E6EDFE;
  border-color: #D0D5F0;
  color: #1A0F91;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-danger {
  background-color: #FFE8E8;
  border-color: #FFE2E0;
  color: #FE7E74;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}


/* Create account in login */

hr{ 
  border-top: 1px #C9C8C9 solid;
  width: 300px;
  text-align: center;
  margin-right: 70px;
}

#create-href{
  color: #7C97F4;
  text-decoration: none;
}

#create-href:hover{
  text-decoration: underline;
}




/* show and hide */
.show-hide-message.ng-hide-remove {
  -webkit-animation: zoomIn 0.3s both ease;
  -moz-animation: zoomIn 0.3s both ease;
  animation: zoomIn 0.3s both ease;
}


.spinner {
  -webkit-animation: spin 1s infinite;
  -moz-animation: spin 1s infinite;
  animation: zoomIn spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}