

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/homepage_styles.css"
    />
    <link rel="stylesheet" type="text/css" href="assets/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/user_style.css" />

    <!-- Main Angular Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.js"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.js"></script> -->


    <!-- Angular Config -->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>

    <!-- Angular Controllers -->
    <script src="app/controllers/formCtrl.js"></script>
    <script src="app/controllers/userCtrl.js"></script>

    <!-- Angular Services -->
    <script src="app/services/userServices.js"></script>
</head>
<body ng-app="userApp">
    <div ng-view></div>
    <h1>dneem</h1>
</body>
</html>