<link rel="stylesheet" type="text/css" href="assets/css/profile.css" />

<!-- <div class="header">
  <h1 style="color: #7d97f4">{{main.username}}'s Profile</h1>
</div> -->

<hr style="width: 85%; text-align: center" />

<h2 class="td-title">My sites</h2>

<div class="container">
  <div class="grid-container">
    <!-- GRID LEFT -->
    <div class="grid-left">
      <img src="/assets/img/mockup.png">
    </div>
    <!-- GRID RIGHT -->
    <div class="grid-right">
      <p>Looks like you haven't created yet!</p>
      <a onclick="window.open('/app/views/forms/main-form.html')">
        <button>Create site</button>
      </a>
    </div>
  </div>
</div>
