<link rel="stylesheet" type="text/css" href="assets/css/profile.css" />

<style>
  body {
    margin: 0;
  }
</style>
<div class="header">
  <h1>{{main.username}}'s Profile</h1>
</div>

<hr style="width: 90%; text-align: center" />

<table style="margin: 50px">
  <tr>
    <!--Row-->
    <td class="td-title">My sites</td>
  </tr>
  <tr>
    <!-- <td>{{main.username}}</td> -->
    <td>{{main.siteName}}</td>
  </tr>
</table>

<div class="create-form">
  <a href="/app/views/forms/main-form.html">
    <button>Create site</button>
  </a>
</div>
