<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/register.css" />
  </head>

  <body>
    <!-- GRID LEFT -->

    <div class="grid-container">
      <div class="grid-left">
        <img src="assets/img/register.png" />
      </div>

      <!-- VERTICAL LINE -->
      <div class="vl"></div>

      <!-- GRID RIGHT -->
      <div class="grid-right">
        <form ng-submit="register.regUser(regData)">
          <h1>Sign Up</h1>

          <!-- Name -->
          <div class="input-icons">
            <span class="input-item"><i class="bi bi-card-text icon"></i></span>

            <input
              class="input-field"
              type="text"
              name="name"
              placeholder="Name"
              ng-model="register.regData.name"
              required
            />
          </div>

          <br />
          <br />
          <!-- Username -->
          <div class="input-icons">
            <span class="input-item"><i class="bi bi-person icon"></i></span>

            <input
              class="input-field"
              type="text"
              name="username"
              placeholder="Username"
              ng-model="register.regData.username"
              required
            />
          </div>

          <br />
          <br />

          <!-- Email -->
          <div class="input-icons">
            <span class="input-item"><i class="bi bi-envelope icon"></i></span>

            <input
              class="input-field"
              type="text"
              name="email"
              placeholder="Email"
              ng-model="register.regData.email"
              required
            />
          </div>

          <br />
          <br />

          <!-- Password -->
          <div class="input-icons">
            <span class="input-item"><i class="bi bi-key icon"></i></span>

            <input
              class="input-field"
              type="password"
              name="password"
              placeholder="Password"
              ng-model="register.regData.password"
              required
            />
          </div>
          <br />
          <br />

            <button class="btn" id="register" type="submit">Register</button>
        </form>

        <!-- POPUPS -->

        <div row show-hide-message ng-show="register.successMsg">
          <div class="alert alert-success">{{ register.successMsg }}</div>
        </div>

        <br />

        <div row show-hide-message ng-show="register.errorMsg">
          <div class="alert alert-danger">{{ register.errorMsg }}</div>
        </div>
      </div>
    </div>
  </body>
</html>
